<div class="cookie-consent-modal">
  <div class="modal-header">
    <h2>{{ 'cookie.preferences.heading' | translate }}</h2>
    <button type="button" class="close close-modal" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ng-container *ngFor="let option of cookieConsentOptions?.options">
      <p>
        <label>
          <input
            type="checkbox"
            [checked]="option.required || cookieConsentSettings?.enabledOptions.includes(option.id)"
            [disabled]="option.required"
            (change)="selectedIds[option.id] = !selectedIds[option.id]"
          />
          <b>{{ option.name | translate }}</b>
        </label>
        <br />
        {{ option.description | translate }}
      </p>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="acceptAll()">
      {{ 'cookies.modal.accept_all' | translate }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="submit()">
      {{ 'cookies.modal.save' | translate }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="hide()">
      {{ 'cookies.modal.cancel' | translate }}
    </button>
  </div>
</div>
